@import url('/static/css/base.css');

#profile-nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: var(--gap);
    margin-top: 150px;
    width: 100%;
    padding: 0;
}

#profile-nav a {
    display: block;
    text-decoration: none;
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
    padding: var(--padding);
    border-radius: 5px;
    font-size: 0.8rem;
}

#profile-nav a:hover {
    font-size: 0.75rem;
}

#profile-nav a:active {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}
